.input-wrapper{
    height: 8em;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    padding: 16px;
}

.result {
    text-align: center;
    flex: 1;
    font-size: 44px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.05em;


}
.text {
    flex: 1;
    font-size: 18px;
    color: white;
    letter-spacing: 0.1em;
}
