body {
  background-image: linear-gradient(to right, #74687E, #9F93AA);
  font-family: sans-serif;
}

.App{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-wrapper{
  background-color: black;
  width: 400px;
  border-radius: 15px;
  padding: 10px;
}
.row{
  display: flex;
}
